header {
    font-family:'Poppins', sans-serif;
    color: aliceblue;
    background-color: darkslategray;
    padding: 20px;
    font-weight: 400;
}

h1 {
    font-family: 'Fugaz One', cursive;
}

#search-bar {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


